<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>relay </title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <style media="screen">
    html {}

    header {
      background-color: #2196F3;
      color: #fff;
    }

    header > h1 {
      margin: 0px;
      color: #fff;
      padding: 5px;
    }

    ul {
      list-style: none;
    }

    li {}

    body {
      margin: 0px;
      font-family: Arial, Verdana, Tahoma;
      background-color: #FFF;
      color: rgba(0, 0, 0, .87);
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    }

    input {
      height: 40px;
      width: 100%;
    }

    label {
      display: block;
      color: #555;
    }

    footer {
      position: relative;
      bottom: -30px;
      height: 100px;
      width: 100%;
      background-color: #eee;
      border-top: 1px solid #333;
      padding-top: 35px;
    }

    .field-element {
      display: block;
      margin: 1em;
      border-bottom: solid 1px #aaa;
      padding: 10px;
    }

    .field-element > label {
      margin-bottom: 10px;
    }

    #receiver {
      max-width: 600px;
    }

    #notes {
      width: 600px;
    }

    #send {
      background-color: #2196F3;
      color: #fff;
      -webkit-animation-duration: .1ms;
      animation-duration: .1ms;
      -webkit-animation-name: mui-node-inserted;
      animation-name: mui-node-inserted;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      transition: all .2s ease-in-out;
      display: inline-block;
      height: 36px;
      padding: 0 26px;
      margin-top: 6px;
      margin-bottom: 6px;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      background-image: none;
      text-align: center;
      line-height: 36px;
      vertical-align: middle;
      white-space: nowrap;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-size: 14px;
      letter-spacing: .03em;
      position: relative;
      overflow: hidden;
      margin: 20 auto;
      max-width: 300px;
      margin-left: 2em;
    }

    #dropbox-section {
      width: 500px;
      height: 300px;
      border: dashed 4px #aaa;
    }

    #dropbox-section:hover {
      border: dashed 4px #F44336;
    }

    #dropbox-section-info {
      position: relative;
      top: 50%;
      left: 25%;
      font-size: 32px;
      color: #aaa;
    }

    #dropbox {
      position: relative;
      width: 100%;
      height: 100%;
    }

    #dropbox ul {
      padding-left: 0px;
    }

    .notifier {
      position: absolute;
      width: 100%;
      background: #fff;
      top: 40px;
      color: white;
    }

    .chime {
      left: 25%;
      background-color: green;
      border: solid 1px transparent;
      border-radius: 3px;
      padding: 10px;
    }

    #info-bar {
      display: table-cell;
      position: relative: ;
      position: relative;
      position: absolute;
      top: inherit;
      left: 0px;
      width: 300px;
      z-index: 1;
      background-color: black;
      top: 0px;
      left: 30%;
      top: -10px;
      padding: 5px;
      border-radius: 3px;
      background-color: #f3f3f3;
      color: #2196F3;
      color: cadetblue;
      text-align: center;
      font-size: 18px
    }

    .show {
      opacity: 1;
      display: inline;
    }

    .hide {
      display: none;
      opacity: 0;
      -moz-transition: opacity 0.4s ease-in-out;
      -o-transition: opacity 0.4s ease-in-out;
      -webkit-transition: opacity 0.4s ease-in-out;
      transition: opacity 0.4s ease-in-out;
    }
  </style>
</head>

<body>
  <header>
    <h1>relay</h1>
    <h2 id='info-bar' class='hide'></h2>
  </header>
  <main>

    <form id="relay-form" method="post">


      <div class="field-element">
        <label for="receiver">To</label>
        <input type="email" id="receiver" name="receiver" value="" placeholder="" required="required" />

      </div>
      <div class="field-element">
        <label for="note">Notes</label>
        <textarea name="notes" rows="8" cols="90%" id="notes"></textarea>

      </div>
      <div class="field-element" id="dropbox-section">
        <div id="dropbox-section-info">
          Drop file here...
        </div>
        <div id="dropbox">
          <div id="fileList">
          </div>

        </div>

      </div>

      <input type="submit" name="name" value="Send" id="send" />
    </form>
  </main>

  <footer>
    <div>

    </div>
  </footer>
  <script type="text/javascript">
    (function(_root, $target) {

      function Chosen() {
        var _file;
        this.add = function(file) {
          _file = file;
        }
        this.get = function() {
          return _file;
        }
        this.reset = function() {
          _file = undefined;
        }

      }
      _root._chosen = new Chosen();

      $target.addEventListener("dragenter", dragenter, false);
      $target.addEventListener("dragover", dragover, false);
      $target.addEventListener("drop", drop, false);

      function dragenter(e) {
        e.stopPropagation();
        e.preventDefault();
      }

      function dragover(e) {
        e.stopPropagation();
        e.preventDefault();
      }

      function drop(e) {
        e.stopPropagation();
        e.preventDefault();
        var dt = e.dataTransfer;
        var files = dt.files;
        handleFiles(files);
      }

      function handleFiles(files) {
        if (!files.length) {
          fileList.innerHTML = "<p>No files selected!</p>";
        } else {
          fileList.innerHTML = "";
          var list = document.createElement("ul");
          fileList.appendChild(list);
          for (var i = 0; i < files.length; i++) {
            var li = document.createElement("li");
            list.appendChild(li);

            var info = document.createElement("span");
            info.className = '';

            info.innerHTML = '<b>' + files[i].name + "</b> (" + files[i].size + " bytes)";
            li.appendChild(info);
          }

          window._chosen.add(files[0]);
        }
      }

    }).call(this, window, document.getElementById('dropbox'));

    (function(_root, $target) {
      $target.addEventListener('submit', function(e) {
        send({
          receiver: document.getElementById('receiver').value,
          notes: document.getElementById('notes').value,
          _file: window._chosen.get()
        }, function(err, result) {
          _root.notifier.chime('Message Delivered');
          $target.reset();
          fileList.innerHTML = "";
          window._chosen.reset();
        });
        e.preventDefault(true);
        return false;
      });
    }).call(this, window, document.getElementById('relay-form'));

    (function(_root) {
      var $chimer = document.getElementById('info-bar');

      function createChime(message) {
        $chimer.classList.remove('hide');
        $chimer.innerHTML = message;
        $chimer.className += ' show';
        clearChime($chimer);
        return $chimer;
      }

      function clearChime(chimer) {
        setTimeout(function() {
          $chimer.classList.remove('show');
          $chimer.className += ' hide';
        }, 1000);

      }
      _root.notifier = {
        chime: function(message) {
          var $chimer = createChime(message);
        }
      };

    }).call(this, window);

    function send(options, callback) {
      var xhr = new XMLHttpRequest();
      var formData = new FormData();
      var _file = options._file;

      formData.append('receiver', options.receiver);
      formData.append('token', Date.now());
      formData.append('notes', options.notes);
      formData.append(_file.name, _file);

      xhr.open('POST', './upload');
      xhr.send(formData);
      xhr.addEventListener('load', function load() {
        callback(undefined, this.responseText);
        window.notifier.chime('Message Sent.');
      });
    }
  </script>
</body>

</html>
